/* css page useradmin  */

.size-table {
  width: 80vw;
  margin-left: 10vw;
}

.table {
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-admin {
  background-color: beige;
  height: 50px;
  width: 100%;
}

.actionsUserAdmin {
  display: flex;
  justify-content: space-around;
}

.deleteUserAdmin,
.editUserAdmin {
  background-color: transparent;
  border: none;
}

.deleteUserAdmin img,
.editUserAdmin img {
  width: 20%;
  height: auto;
}
