/* css pour l'annonce du home  */

.job-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4%;
  flex-wrap: wrap;
  margin-top: 5%;
}

.job-card {
  width: 25%;
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1%;
}

.block-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.tags {
  background-color: #d9d9d9;
  padding: 1%;
  border-radius: 10px;
}

.advertisementContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  padding: 2%;

  background-color: #efecec;
}

.advertisementElement1 {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1%;
}

.advertisementElement1Part1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advertisementButtonApply {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10%;
  padding: 5px 0;
}

.advertisementButtonApply:hover {
  box-shadow: 0 0 10px grey;
  border: 2px solid #fff;
}

.advertisementButtonApply img {
  width: 10%;
  height: auto;
}

.advertisementElement2 {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  padding: 2%;
}
.advertisementSector p,
.advertisementWage p,
.advertisementContractElements p {
  display: inline-block;
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 5px;
}

.advertisementSkillsElement,
.advertisementTagsElement {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.advertisementSkillsElement p,
.advertisementTagsElement p {
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 5px;
}

.advertisementContractElements p {
  margin-right: 10px;
}

.buttonLearnMore {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 0;
}
