/* css pour l'annonce du home  */

.job-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
  flex-wrap: wrap;
  margin-top: 5%;
}

.job-card {
  width: 30%;
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1%;
}

.block-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.tags {
  background-color: #d9d9d9;
  padding: 1%;
  border-radius: 10px;
}
